.catalog-sortby__sortby-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.catalog-sortby__heading {
  text-transform: uppercase;
  font-size: 18px;
}

.catalog-sortby__list-wrapper {
  display: flex;
  gap: 40px;
}

.catalog-sortby {
  display: flex;
  gap: 25px;
  align-items: center;
}

.catalog-sortby__link {
  color: #dadada;
  text-transform: uppercase;
  font-size: 14px;
}

.catalog-sortby__link:hover {
  color: #ababab;
}

.catalog-sortby__link--active {
  color: #000;
}

.catalog-sortby__arrows {
  display: flex;
  gap: 18px;
  align-items: center;
}
