.content-wrapper {
  display: grid;
  gap: 10px;
  row-gap: 55px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
}

@media (width <= 1077px) {
  .content-wrapper {
    grid-template-rows: 1fr max-content;
    grid-template-columns: repeat(1, 1fr);
  }
}
