.custom-radio {
  position: relative;
}

.custom-radio__label {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #283136;
}

.custom-radio__label::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #ababab;
}

.custom-radio__label::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ababab;
  position: absolute;
  top: 8px;
  left: 8px;
  display: none;
}

.custom-radio__label:hover::before {
  border-color: #4d4d4d;
}

.custom-radio__input:checked + .custom-radio__label::after {
  display: block;
}
