.filter {
  max-width: 260px;
}

.filter__range-wrapper {
  margin-bottom: 14px;
  padding: 39px 18px;
  border-radius: 3px;
  background-color: #eee;
  position: relative;
}

.filter__slide-scale {
  height: 2px;
  background-color: #d7dcdf;
}

.filter__slide-bar {
  height: 2px;
  width: 138px;
  background-color: #00ca74;
}

.filter-range-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
  position: absolute;
  top: 30px;
}

.filter-range-btn::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.filter-range-btn--max {
  right: 100px;
}

.filter__from-to {
  display: flex;
  gap: 22px;
  align-items: center;
}

.filter__from-to label {
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.filter__from-to input {
  margin-left: 8px;
  width: 80px;
  height: 38px;
  border-radius: 3px;
  border: none;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: #eee;
}
