.order-service {
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-bottom: 2px solid #eee;
}

.order-service__image {
  background-color: #eee;
  margin-bottom: 25px;
}

.order-service__service-title {
  font-size: 24px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.order-service__txt {
  margin-bottom: 32px;
  font-weight: 500;
  max-width: 300px;
}
